<nav class="admin-nav">
    <ul>
        <li><a href="{% url 'admin:index' %}">Home</a></li>
        <li><a href="{% url 'admin:auth_group_changelist' %}">Groups</a></li>
        <li><a href="{% url 'admin:companies_company_changelist' %}">Companies</a></li>
        <li><a href="{% url 'admin:equipment_equipment_changelist' %}">Equipment</a></li>
        <li><a href="{% url 'admin:documentation_document_changelist' %}">Documents</a></li>
        <li><a href="{% url 'admin:personnel_employee_changelist' %}">Employees</a></li>
    </ul>
</nav>
