{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Equipment Documents" %} - {{ equipment.name }}{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6 bg-blue-600 text-white">
        <h1 class="text-2xl font-bold font-serif mb-2">{{ equipment.name }} - {% trans "Documents" %}</h1>
        <p class="text-sm">{% trans "View and manage documents for this equipment" %}</p>
    </div>
    
    <div class="p-6">
        <div class="mb-6 flex justify-between items-center">
            <a href="{% url 'equipment:equipment_detail' equipment.pk %}" class="inline-flex items-center text-blue-600 hover:text-blue-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                </svg>
                {% trans "Back to Equipment Details" %}
            </a>
            
            <a href="#" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                {% trans "Add Document" %}
            </a>
        </div>
        
        {% if documents %}
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-200">
                    <thead>
                        <tr class="bg-gray-100 text-left text-gray-700">
                            <th class="py-3 px-4 font-bold">{% trans "Type" %}</th>
                            <th class="py-3 px-4 font-bold">{% trans "Title" %}</th>
                            <th class="py-3 px-4 font-bold">{% trans "Uploaded" %}</th>
                            <th class="py-3 px-4 font-bold">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        {% for document in documents %}
                            <tr class="{% cycle '' 'bg-gray-50' %} hover:bg-gray-100 border-t border-gray-200">
                                <td class="py-3 px-4">{{ document.get_document_type_display }}</td>
                                <td class="py-3 px-4">{{ document.title }}</td>
                                <td class="py-3 px-4">{{ document.uploaded_at|date:"d M Y" }}</td>
                                <td class="py-3 px-4">
                                    <div class="flex space-x-2">
                                        {% if document.file %}
                                            <a href="{{ document.file.url }}" target="_blank" class="text-blue-600 hover:text-blue-800" title="{% trans 'Download' %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        {% endif %}
                                        
                                        {% if document.external_url %}
                                            <a href="{{ document.external_url }}" target="_blank" class="text-blue-600 hover:text-blue-800" title="{% trans 'External Link' %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                    <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                                                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                                                </svg>
                                            </a>
                                        {% endif %}
                                        
                                        <a href="#" class="text-red-500 hover:text-red-700" title="{% trans 'Delete' %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="bg-gray-50 rounded-lg p-6 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto text-gray-400 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                </svg>
                <p class="text-gray-600 mb-4">{% trans "No documents available for this equipment yet." %}</p>
                <a href="#" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                    </svg>
                    {% trans "Add First Document" %}
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
