{% load i18n %}

<div class="language-selector d-flex align-items-center gap-2">
  <span class="language-text {% if admin_view %}text-white{% endif %}" style="font-size:14px;">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for lang in languages %}
      {% if lang.code == LANGUAGE_CODE %}
        {{ lang.name_local|title }}
      {% endif %}
    {% endfor %}
  </span>
  
  <div class="dropdown">
    <button class="btn btn-sm {% if admin_view %}btn-outline-light{% else %}btn-outline-secondary{% endif %} dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      {% trans "Change" %}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
      {% for lang in languages %}
        {% if lang.code != 'ru' %}
        <li>
          <form method="post" action="{% url 'set_language' %}" class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden" name="language" value="{{ lang.code }}">
            <button type="submit" class="dropdown-item">{{ lang.name_local|title }}</button>
          </form>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
